html {
  background-color: black;
}

 .App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  opacity: 90%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperset.com/w/full/c/1/4/427159.jpg");
  /* opacity: 80%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}







#headerMoon {
  float: left;
  height: 7vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  #headerMoon {
    animation: headerMoon-spin infinite 20s linear;
  }
}

@keyframes headerMoon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


#postContainer {
  margin-top: 20vh;
  padding: 1vh;
  height: auto;
  width: 100vw;
  display: grid;
  gap: 5vh;
  grid-template-rows: repeat(1, 1fr);
}

.postCard {
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  background-color: rgb(249, 253, 255);
  height: 60%;
  width: 30%;
  font-size:75%;
  border-radius: 3vh;
  padding: 1vh;
}

.header {
  background-color: rgb(63, 134, 179);
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1vh;
  height: fit-content;
  color: rgb(255, 255, 255);
  margin-bottom: 50vh;
}

#headerHome {
  background-color: rgb(63, 134, 179);
  position: absolute;
  top: 0;
  width: 100vw;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 60%;
}

#postForm {
  background-color: rgb(2, 7, 107);
  height: auto;
  width: 40%;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: rgb(12, 173, 222);
  padding: 1vw;
}

.postFormInput {
  border-radius: 2vh;
  font-size: larger;
  text-align: center;
  padding: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: rgb(78, 219, 216);
  min-width: 15vw;
}


#avatar {
  float: right;
  height: 7vmin;
  border-radius: 36vh;
}

.postImage {
  height: 50%;
  width: 50%;
  border-radius: 3vh;
}

.headerButton {
  border-radius: 1.6vh;
  line-height: 1.2em;
  font-weight: bolder;
  font-size: 60%;
  padding: 0.5em;
  margin-inline: 0.5vw;
  background-color: rgb(10, 41, 70);
  color: rgb(12, 173, 222);
  transition: 0.3s;
  min-width: 25%;
}

.headerButton:hover {
  translate: -5px -5px -5px;
  box-shadow: -4px 5px 25px rgb(249, 249, 249);
  color: rgb(255, 255, 255);
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.home-button {
  border-radius: 1.6vh;
  min-width: 200px;
  line-height: 1.1em;
  font-weight: bolder;
  font-size: x-large;
  padding: 0.4em;
  margin-bottom:5vh;
  color: rgb(0, 253, 51);
  background-color: rgb(35, 38, 50);
  /* color: rgb(244, 244, 244);
  background-color: rgb(2, 7, 98); */
  transition: 0.3s;
}

.home-button:hover {
  translate: -5px -5px -5px;
  box-shadow: -4px 5px 25px rgb(249, 249, 249);
  color: rgb(255, 255, 255);
}

#homeMoon {
  height: 40vmin;
  margin-top: 20vh;
  margin-bottom: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  #homeMoon {
    animation: homeMoon-spin infinite 20s linear;
  }
}

@keyframes homeMoon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
/* 
.commentCard {
  color: white;
  background-color:rgb(26, 119, 205);
  min-width: 10vmin;
  min-height: 10vmin;
  border-radius: 2vh;
  font-size: 10pt;
  overflow: hidden;
  padding-bottom: 2vh;
  margin: auto;
  gap: 5vh;
}


#commentFormButton {
  border-radius: 1.6vh;
  width: 30vw;
  line-height: 1.2em;
  font-weight: bolder;
  font-size: x-large;
  padding: 0.4em;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: rgb(12, 173, 222);
  background-color: rgb(10, 41, 70);
}

#commentForm {
  font-size: xx-large;
  display: flex;
  align-content: center;
  background-color: rgb(13, 18, 109);
  width: max-content;
  height: 6vmin;
  border-radius: 1vh;
  padding: 1vh;
}

.commentInput {
  border-radius: 1vh;
  padding: 1vw;
  background-color: rgb(218, 228, 232);
  margin-inline: 1vw;
  line-height: 1.1em;
  min-width: 150px;
} */

.errors {
  color: red;
  font-size: xx-large;
  float: left;
}

#commenter {
  height: 10vmin;
  width: 10vmin;
  border-radius: 30vmin;
}

#postCommentImage {
  /* height: 40vmin;
  width: 30vw; */
  height: 50%;
  width: 50%;
  border-radius: 3vh;
}



.commentContainer {
  margin-top: 20vh;
  padding: 1vh;
  height: auto;
  width: 100vw;
  display: grid;
  gap: 5vh;
  grid-template-rows: repeat(1, 1fr);
}

.commentCard {
  margin: auto;
  /* margin-top: 10vh; */
  margin-bottom: 5vh;
  background-color: rgb(255, 255, 255);
  /* height: auto; */
  /* width: 50vw; */
  border-radius: 3vh;
  height: 60%;
  width: 30%;
  font-size:75%;
  padding: 1vh;
}

  #commentForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    height: auto;
    width: 30%;
    border-radius: 3vh;
    margin: auto;
    box-shadow: -4px 5px 25px rgb(249, 249, 249);
  }

  .commentInput {
    border-radius: 2vh;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    padding: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgb(0, 20, 109);
    color: rgb(0, 229, 255);
  }

  ::placeholder {
    color: rgb(0, 229, 255);
  }


  #loginForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    height: auto;
    width: 60%;
    border-radius: 3vh;
    margin: auto;
    box-shadow: -4px 5px 25px rgb(249, 249, 249);
  }

  .loginInput {
    border-radius: 2vh;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgb(0, 20, 109);
    color: rgb(0, 229, 255);
  }

/* 
.commentContainer {
margin-top: 30vh;
width: 100vw;
height: auto;
display: grid;
align-items: center;
grid-template-rows: repeat(1, 1fr);
padding: 5vw;
gap: 5vh;
} 


 .commentButton {
  background-color: rgb(10, 41, 70);
  color: rgb(12, 173, 222);
  border-radius: 1.8vh;
  min-width: 100px;
  line-height: 1.1em;
  font-weight: bolder;
  font-size: large;
  margin-inline: 0.5vw;
}
 */




