.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}







#headerMoon {
  float: left;
  height: 10vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  #headerMoon {
    animation: headerMoon-spin infinite 20s linear;
  }
}

@keyframes headerMoon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



/* img {
  height: 15vh;
  width: 15vw;
  border-radius: 4vh;
} */

#postContainer {
  margin-top: 20vh;
  padding: 1vh;
  height: auto;
  width: 100vw;
  display: grid;
  gap: 5vh;
  grid-template-rows: repeat(1, 1fr);
}

.postCard {
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  background-color: rgb(68, 158, 154);
  height: 60vh;
  width: 30vw;
  border-radius: 3vh;
  padding: 1vh;
}

.header {
  background-color: rgb(13, 18, 109);
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1vh;
  height: fit-content;
  color: rgb(12, 173, 222);
}

#postForm {
  background-color: rgb(185, 194, 185);
  height: 10vh;
  width: 45vw;
  border-radius: 1vh;
  margin: auto;
}



#avatar {
  float: right;
  height: 10vmin;
  border-radius: 36vh;
}

.postImage {
  height: 10vmin;
}

.headerButton {
  border-radius: 1.6vh;
  width: 30vw;
  line-height: 1.2em;
  font-weight: bolder;
  font-size: x-large;
  padding: 0.4em;
  margin-bottom:1vh;
  margin-top: 1vh;
  margin-inline: 2vw;
  background-color: rgb(10, 41, 70);
  color: rgb(12, 173, 222);
  transition: 0.3s;
}

.headerButton:hover {
  translate: -5px -5px -5px;
  box-shadow: -4px 5px 25px rgb(249, 249, 249);
  color: rgb(255, 255, 255);
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.home-button {
  border-radius: 1.6vh;
  min-width: 200px;
  line-height: 1.1em;
  font-weight: bolder;
  font-size: x-large;
  padding: 0.4em;
  margin-bottom:5vh;
  color: rgb(12, 173, 222);
  background-color: rgb(10, 41, 70);
  transition: 0.3s;
}

.home-button:hover {
  translate: -5px -5px -5px;
  box-shadow: -4px 5px 25px rgb(249, 249, 249);
  color: rgb(255, 255, 255);
}

#homeMoon {
  height: 40vmin;
  margin-top: 20vh;
  margin-bottom: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  #homeMoon {
    animation: homeMoon-spin infinite 20s linear;
  }
}

@keyframes homeMoon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.commentCard {
  background-color:rgb(187, 197, 170);
  min-width: 30vw;
  height: auto;
  border-radius: 2vh;
  font-size: 10pt;
}

.postComments {
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  background-color: rgb(29, 189, 17);
  height: 60vh;
  width: 30vw;
  border-radius: 3vh;
  padding: 1vh;
  overflow: scroll;
}

#hi {
  margin-top: 30vh;
}

#hello {
  margin-top: 30vh;
  margin-bottom: 10vh;
}